

.submit {
   width: 100%;
}

h2{
font-size: 35px;
font-weight: bold;
margin-left: 0.5%;
}

.searchResult{
    max-height: 100%;
}

.searchedCity {
margin-left: 20%;
    
    
}

h3 {
    text-align: center;
}